@{
    ViewBag.Title = "About";
}
<h2 class="text-center"></h2>
<h3>@ViewBag.Message</h3>

<section class="price-section spad set-bg" style="background-color:#fff;color:#111;margin-left:50px;margin-right:50px;padding:20px;">
    <div class="row">
        <div class="section-title text-center" style="color:#111;font-weight:900;">
            <h2 style="font-weight:bold;">HISTORY</h2>
        </div>
        <br />
        <div style="margin-left:20px;">

            Auguste Gand and his son, Lucien together have over 75 years of experience in the fitness industry.
            Auguste started this gym in 1982 after<br /> owning gyms in La Lucia and Gauteng. He was also awarded honorary status as an IFBB bodybuilding judge.
            Lucien competed in athletics at provincial level for several years and has a Bsc degree in Computer Science and an Honours degree in Information Systems.<br /><br />
            Lucien is also well rehearsed with the teachings and training principles of the Resistance Trainig Specialists, a USA based company.Auguste and his son Lucien have worked consistently to provide members with a comfortable and well equipped establishment.
            "Our aim is to provide the ultimate training experience for our members.
            We are always searching for the most up-to-date training equipment.
        </div>
        <div style="margin-left:20px;margin-top:30px;">
            <div style="margin-left:50px;font-weight:900;">
                <h4>Address</h4>

                <b style="color:#ff0000">Berea Terrace</b>
                <br />
                <h4> Phone</h4>

                <b style="color:#ff0000"> +27312010333</b>
                <br />
                <h4> Fax</h4>
                <b style="color:#ff0000">031 201 0333</b>
                <h4>Email</h4>
                <b style="color:#ff0000">info@fitnesscompany.co.za</b><br /><br />
            </div>
        </div>

    </div>
</section>